<div class="row">
  <!--<div class="col-md-12">
    <card cardTitle="Inline Form">
      <form class="form-inline">
        <label for="example1" class="form-label">Name:</label>
        <input type="text" class="form-control" id="example1" placeholder="Jane Doe">
        <label for="example2" class="form-label">Email:</label>
        <input type="email" class="form-control" id="example2" placeholder="jane.doe@example.com">
        <button type="submit" class="btn btn-primary">Send Invitation</button>
      </form>
    </card>
  </div>-->
  <div class="col-md-12">
    <card cardTitle="">
      <form class="form-group">
        <label class="control-label">Item Code</label>
        <input type="text" class="form-control" placeholder="Item Code">
        <label class="control-label">Shade</label>
        <input type="text" class="form-control" placeholder="Shade">
        <label class="control-label">Size</label>
        <input type="text" class="form-control" placeholder="Size">
        <label class="control-label">Type</label>
        <select name="select" id="type" class="form-control">
          <option value="option1">Floor</option>
          <option value="option2">Wall</option>
        </select>
        <label class="control-label">Company</label>
        <select name="select" id="company" class="form-control">
          <option value="option1">Lanka</option>
          <option value="option2">Rocell</option>
          <option value="option2">Mactile</option>
        </select>
        <label class="control-label">Quantity</label>
        <input type="number" class="form-control" placeholder="Quantity">
        <label class="control-label">Cost</label>
        <input type="number" class="form-control" placeholder="Cost">
        <label class="control-label">Selling price</label>
        <input type="number" class="form-control" placeholder="Selling price">
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </card>
  </div>
</div>
