<div class="row">
  <div class="col-md-12">
    <card cardTitle="Data Table">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>Id</th>
          <th>Item Code</th>
          <th>Shade</th>
          <th>Size</th>
          <th>Type</th>
          <th>Company</th>
          <th>Quantity</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of tableData | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">
          <td>{{item.firstName}}</td>
          <td>{{item.lastName}}</td>
          <td>{{item.username}}</td>
          <td>{{item.username}}</td>
          <td>{{item.email}}</td>
          <td class="label label-info" style="text-align: center">10</td>
          <td>
            <span><button class="btn btn-primary" (click)="seventhModal.open()">View</button></span>
          </td>
        </tr>
        </tbody>
      </table>
      <form class="pagination-wrapper">
        <div class="form-group pages">
          <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
                               autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                               screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
        <div class="form-group options pages">
          <div class="input-group input-group-sm">
            <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
              <option>1</option>
              <option>5</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
              <option>200</option>
            </select>
            <span class="input-group-addon addon-right">Per Page</span>
          </div>
        </div>
      </form>
    </card>
  </div>
</div>
<modal #seventhModal (onClose)="onClose()">
  <modal-header>
    <h3>it opens first modal after you close it</h3>
  </modal-header>
  <modal-content>
    <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse.
      Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth.
      Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis
      cardigan american apparel, butcher voluptate nisi qui.</p>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="closeModal(seventhModal)">close</button>
  </modal-footer>
</modal>
