<div class="row">
  <div class="col-md-12">
    <card cardTitle="Lile List">
      <table class="table table-bordered table-hover">
        <thead>
        <tr>
          <th>Id</th>
          <th>Item Code</th>
          <th>Shade</th>
          <th>Size</th>
          <th>Type</th>
          <th>Company</th>
          <th>Cost</th>
          <th>Selling Price</th>
          <th>Quantity</th>
          <th>Edit</th>
          <th>Remove</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of tableData | paginate: { id: 'pager', itemsPerPage: pageSize, currentPage: pageNumber};let index = index">
          <td>{{index + 1}}</td>
          <td>{{item.item_code}}</td>
          <td>{{item.shade}}</td>
          <td>
            <span *ngIf="item.Size == 1">1*1</span>
            <span *ngIf="item.Size == 2">2*2</span>
            <span *ngIf="item.Size == 3">3*3</span>
            <span *ngIf="item.Size == 4">4*4</span>
          </td>
          <td>
            <span *ngIf="item.type == 1">Floor</span>
            <span *ngIf="item.type == 2">Wall</span>
          </td>
          <!--<td class="label label-info" style="text-align: center">10</td>-->
          <td>
            <span *ngIf="item.company_id == 1">Lanka</span>
            <span *ngIf="item.company_id == 2">Rocell</span>
            <span *ngIf="item.company_id == 3">Mactile</span>
          </td>
          <td>{{item.cost}}</td>
          <td>{{item.selling_price}}</td>
          <td>
            <span>{{item.qty}}</span>
          </td>
          <td>
            <span><button class="btn btn-primary" (click)="editTile(item.id)">Edit</button></span>
          </td>
          <td>
            <span><button class="btn btn-danger" (click)="alertConfirm(item.id)">Remove</button></span>
          </td>
        </tr>
        <tr *ngIf="errorOccured" class="alert-warning">
          <td colspan="10"><b>No Records Found</b></td>
        </tr>
        </tbody>
      </table>
      <form class="pagination-wrapper">
        <div class="form-group pages">
          <pagination-controls class="my-pagination" id="pager" (pageChange)="pageChanged($event)" maxSize="9" directionLinks="true"
                               autoHide="true" previousLabel="Prev" nextLabel="Next" screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                               screenReaderCurrentLabel="You're on page">
          </pagination-controls>
        </div>
        <div class="form-group options pages">
          <div class="input-group input-group-sm">
            <select class="form-control" name="pageChangedName" [(ngModel)]="pageSize" (ngModelChange)="loadData()">
              <option>1</option>
              <option>5</option>
              <option>10</option>
              <option>20</option>
              <option>50</option>
              <option>100</option>
              <option>200</option>
            </select>
            <span class="input-group-addon addon-right">Per Page</span>
          </div>
        </div>
      </form>
    </card>
  </div>
</div>
<modal #seventhModal (onClose)="onClose()">
  <modal-header>
    <h3>it opens first modal after you close it</h3>
  </modal-header>
  <modal-content>
    <p>Raw denim you </p>
  </modal-content>
  <modal-footer>
    <button class="btn btn-primary" (click)="closeModal(seventhModal)">close</button>
  </modal-footer>
</modal>
